In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [7]:
# Load data
data = pd.read_csv('/workspaces/codespaces-jupyter/data/ML Dataset/heart.csv')

In [8]:
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
data.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
# Step 1: Slicing
x = data.iloc[:, :4].values
y = data['output']

In [9]:
x

array([[ 63,   1,   3, 145],
       [ 37,   1,   2, 130],
       [ 41,   0,   1, 130],
       ...,
       [ 68,   1,   0, 144],
       [ 57,   1,   0, 130],
       [ 57,   0,   1, 130]])

In [11]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [16]:
# Step 2: Train Test Split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [20]:
x_train.shape

(242, 4)

In [21]:
y_train.shape

(242,)

In [22]:
#Step 3: Scalling
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [23]:
# Step 4: Traning the Naive Bayes Classification model on the Tranning Set
from sklearn.naive_bayes import GaussianNB
classifier  = GaussianNB()
classifier.fit(x_train, y_train)

GaussianNB()

In [24]:
# Step 5: predicting the test result
y_pred = classifier.predict(x_test)
y_pred

array([0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0])

In [25]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [26]:
from sklearn.metrics import accuracy_score
print("Accuracy: ", accuracy_score(y_test, y_pred))
cm

Accuracy:  0.7540983606557377

array([[24,  5],
       [10, 22]])

In [28]:
data = pd.DataFrame({'Real Values':y_test, 'Predicted values':y_pred})
data

     Real Values  Predicted values
179            0                 0
228            0                 1
111            1                 1
246            0                 1
60             1                 1
..           ...               ...
249            0                 1
104            1                 1
300            0                 0
193            0                 0
184            0                 0

[61 rows x 2 columns]